<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kalah Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:if="${player} == 'p1'">
        <p th:text="'Player 2 (p2): Pits=[' + ${pit25} + ', '+ ${pit24} + ', ' + ${pit23} + ', ' + ${pit22} + ', ' + ${pit21} + ', ' + ${pit20} + '], Kalah:' + ${kalah2}"/>

        <p th:text="'Player 1 (p1): Pits=[' + ${pit10} + ', '+ ${pit11} + ', ' + ${pit12} + ', ' + ${pit13} + ', ' + ${pit14} + ', ' + ${pit15} + '], Kalah:' + ${kalah1}"/>
    </div>

    <div th:if="${player} == 'p2'">
        <p th:text="'Player 1 (p1): Pits=[' + ${pit15} + ', '+ ${pit14} + ', ' + ${pit13} + ', ' + ${pit12} + ', ' + ${pit11} + ', ' + ${pit10} + '], Kalah:' + ${kalah1}"/>

        <p th:text="'Player 2 (p2): Pits=[' + ${pit20} + ', '+ ${pit21} + ', ' + ${pit22} + ', ' + ${pit23} + ', ' + ${pit24} + ', ' + ${pit25} + '], Kalah:' + ${kalah2}"/>
    </div>

    <div th:if="${error} != null">
        <p th:text="${error}"/>
    </div>

    <div th:if="${p1HasWin}">
        <p th:text="'The Winner is: ' + p1"/>
    </div>

    <div th:if="${p2HasWin}">
        <p th:text="'The Winner is: ' + p2"/>
    </div>

    <div th:unless="${anyoneHasWin}">
        <p th:text="'Player Turn: ' + ${player}"/>

        <p th:text="'Choose the index'"/>
        <form action="#" th:action="@{/play}" th:object="${payload}" method="post">
            <select id="index" name="index">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="hidden" th:value="${player}" id="player" name="player"/>
            <button type="submit" value="Submit">GO</button>
        </form>
    </div>
</body>
</html>